<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  flex: 50%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
</head>
{%if side_by_side_list %}
<table>
	{% for invoice in side_by_side_list %}		
		<tr>
		<th>Customer Invoice</th>
		<th>Invoice Amount</th>
		<th>Partner Invoice</th>
		<th>Invoice Amount</th>
		<th>Margin</th>
		</tr>
		<tr>
			<td>
			<a href="/InvoicingWeb/Customer/Invoice/{{invoice.CustomerInvoiceNumber}}">{{invoice.CustomerInvoiceNumber}}</a>
			</td>
			<td>
			{{invoice.CustomerAmount}}
			</td>
			<td>
			<a href="/InvoicingWeb/Partner/Invoice/{{invoice.PartnerInvoiceNumber}}">{{invoice.PartnerInvoiceNumber}}</a>
			</td>
			<td>
			{{invoice.PartnerAmount}}
			</td>
			<td>
			{{invoice.Margin}} %
			</td>
		</tr>
	{% endfor %}
</table>
{%else%}
	<p>no invoices for {{customer_name}}</p>
{%endif%}